fronted/**/node_modules
frontend/react/learn/react-basic/node_modules
frontend/websocket/websocketIo/node_modules
frontend/websocket/webSocketNode/node_modules
frontend/node/learn/express/node_modules
frontend/react/project/geek-pc/node_modules
frontend/webpack/learn/class1/node_modules
frontend/webpack/learn/class2/React-cli/node_modules
frontend/Vue/routerLearn/router/node_modules
frontend/typescript/nest/demo/node_modules
frontend/react/project/sign/node_modules
frontend/webpack/learn/class3/node_modules
frontend/vite/learn/test-vite/node_modules